.slider-title {
    margin-bottom: 5rem;
    text-transform: capitalize;
  }
  
  .slider {
    margin: 0 auto;
    width: 80%;
    height: 450px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .author {
    margin-top: 2rem;
    font-size: 1.2rem;
    font-style: italic;
  }
  
  .quote-icon {
    font-size: 3rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    color: var(--clr-primary-5);
  }

.prev,
.next {
  position: absolute;
  bottom: 400px;
  margin:-90px -150px;
  transform: translateY(-50%);
  background: black;
  color: var(--clr-white);
  width: 2rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}