/*
=============== 
Variables
===============
*/

:root {

  /* primary/main color */
  --clr-primary-5: #00adb5;
  /* lighter shades of primary color */
  --clr-primary-10: #19100B;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --transform: scale(1.1);
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1400px;
  --fixed-width: 1200px;
}
/*
=============== 
Global Styles
===============
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
  font-size: 1rem;
}

main{
  margin-top: 10rem;
  padding: 0 10rem;
}


.benefit-main {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 5rem auto;
}

.one-benefit {
  background: var(--clr-white);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
}

.one-benefit:hover {
  box-shadow: var(--dark-shadow);
}

.one-benefit img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.benefit-info {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.link {
  text-decoration: none;
  padding: 20px;
  color: black;
  font-size: 30px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.subtitle {
  margin: 2rem 0;
  text-align: center;
}

.type-tytle {
  display: flex;
  margin: 0 auto;
}

.btn {
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-btn {
  display: block;
  width: 200px;
  margin: 2rem auto;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid var(--clr-red-dark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  margin: 3rem auto;
}


.change {
  padding: 10px 30px;
  background: var(--clr-primary-5);
  border: none;
  color: var(--clr-white);
  font-size: 1.1rem;
  font-weight: 500;
}

.change:hover{
  background: var(--clr-white);
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.types {
  display: flex;
  justify-content: space-between;
  width: var(--max-width);
  margin: 0 auto;
  flex-wrap: wrap;
}

.coffee-card {
  width: 460px;
  margin-top: 3rem;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.coffee-card:hover{
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.type-subtitle {
  margin: 1rem 0;
}

.type-text {
  line-height: 1.5rem;
  letter-spacing: var(--spacing)
}

.type-img{
  width: 420px;
  border-radius: var(--radius);
}

/* Contact form */

.contact-form{
  width: var(--maxWidth);
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.contact-form label{
  display: block;
  margin: 1.5rem 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--clr-black);
}

.contact-form input {
  border-radius: var(--radius);
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid var(--clr-grey-5);
  border-bottom: 2px solid var(--clr-grey-5);
  box-shadow: var(--dark-shadow);
}

.contact-form textarea {
  border-radius: var(--radius);
  padding: 0.5rem;
  height: 10rem;
  font-size: 1.2rem;
  border: 1px solid var(--clr-grey-5);
  border-bottom: 2px solid var(--clr-grey-5);
  box-shadow: var(--lightShadow);
}


.contact-img{
  border-radius:2rem;
  width: 300px;
  margin-left: 10rem;
  box-shadow: var(--lightShadow)
}


.contact-img:hover{
  transform: var(--transform);
  transition: var(--transition);
}

.contact-section{
  width: var(--max-width);
  margin: 0 auto;
  display: flex;
}

.contact-title{
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: left;

}

.contact-title:hover{
  transform: scale(1.1);
  transition: var(--mainTransition);
  cursor: pointer;
}

/* About */

/* .about-section {
  display:flex;
  width: var(--fullWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.about-title{
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: left;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
} */

/* Sections */

.serv-title {
  margin-top: 5rem;
}

.serv-section {
  padding: 0 10rem;
}

.element {
  position: relative;
  width: 400px;
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 5rem;
}

.element::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #001d38;
  border-radius: 20px;
  opacity: .6;
}

/* .element:hover{
  transform: scale(1.1);
  transition: var(--mainTransition);
} */


.el-title{
  color: white;
  font-size: 3rem;
  position: absolute;
  top:50%;
  left: 10%;
}

.el-title:hover{
  transform: scale(1.1);
  transition: var(--mainTransition);
}

.el-section{
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  width: var(--fullWidth);
  max-width: var(--fullWidth);
}







/* Slider */





/* Video */

video {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
