/*
=============== 
Variables
===============
*/

:root {

  /* primary/main color */
  --clr-primary-5: #e15d1b;
  /* lighter shades of primary color */
  --clr-primary-10: #19100B;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --transform: scale(1.1);
  --text-transform: capitalize;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1400px;
  --fixed-width: 1200px;
}
/*
=============== 
Global Styles
===============
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3rem;
  text-transform: capitalize;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
  font-size: 1rem;
}

/* About */

.about-section {
  padding: 10rem;
}

.about-title {
  color: var(--clr-primary-5);
  margin-bottom: 3rem;
  text-align: center;
}

.about-section .italic{
  margin-bottom: 1rem;
  font-style: italic;
}

hr{
  margin-bottom: 1rem;
  background-color: var(--clr-primary-5);
}

.about-section .info{
  margin-bottom: 1rem
}

.info {
  font-size: 0.8rem;
  font-style: italic;
}

p{
  font-size: 1.2rem;
}

p .link {
  font-size: 0.8rem;
  color: var(--clr-primary-5);
}

@media screen and (max-width:500px) {
  .about-section {
    padding: 5rem 3rem;
  }

  .about-title {
    margin: 2rem;
    font-size: 1.2rem;
  }

  p{
    font-size: 0.8rem;
  }
}

/* Benefits */

.benefit-main {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 5rem auto;
}

.one-benefit {
  background: var(--clr-white);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
}

.one-benefit:hover {
  box-shadow: var(--dark-shadow);
}

.one-benefit img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.benefit-info {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.link {
  text-decoration: none;
  padding: 20px;
  color: black;
  font-size: 30px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.subtitle {
  margin: 2rem 0;
  text-align: center;
}

.type-tytle {
  display: flex;
  margin: 0 auto;
}

.btn {
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-btn {
  display: block;
  width: 200px;
  margin: 2rem auto;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid var(--clr-red-dark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}


/* Types */

.types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: var(--max-width);
  margin: 0 auto;
  flex-wrap: wrap;
}

.coffee-card {
  width: 460px;
  margin-top: 3rem;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.coffee-card:hover{
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.types-title {
  margin-top: 10rem;
  text-align: center;
  }

.type-subtitle {
  margin: 1rem 0;
}

.type-text {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: var(--spacing)
}

.type-img{
  width: 420px;
  border-radius: var(--radius);
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 700px;
  margin: 3rem auto;
}

.change {
  padding: 10px 30px;
  background: var(--clr-primary-5);
  border: none;
  color: var(--clr-white);
  font-size: 1.1rem;
  font-weight: 500;
}

.change:hover{
  background: var(--clr-white);
  color: var(--clr-primary-5);
  transition: var(--transition);
}

@media screen and (max-width: 1260px) {
  .types {
    width: 500px;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 850px) {
  .types-title {
    font-size: 2rem;
    margin: 10rem auto 2rem;
    }
    .btn-container {
      width: 400px;
      flex-direction: column;
      margin: 2rem auto;
    }
    .change {
      padding: 10px 30px;
      margin: 0.3rem;
    }
}

@media screen and (max-width: 500px) {
  .types {
    width: 350px;
  }
    .btn-container {
      width: 350px;
      flex-direction: column;
    }
    .coffee-card {
      width: 350px;
    }
    .type-img{
      width: 300px;
      border-radius: var(--radius);
    }
    .type-subtitle {
      font-size: 1.5rem;
    }
    .type-text {
      font-size: 0.8rem;
      line-height: 1.2rem;
    }

}

/* Video */

video {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  position: relative;
  top: 0;
  left: 0;
  z-index: -1;
}
