/*
=============== 
Variables
===============
*/

:root {

  /* primary/main color */
  --clr-primary-5: #00adb5;
  /* lighter shades of primary color */
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --transform: scale(1.1);
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1400px;
  --fixed-width: 1200px;
}
/*
=============== 
Global Styles
===============
*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-black);
  font-size: 1rem;
}

main{
  margin-top: 10rem;
  padding: 0 10rem;
}


.benefit-main {
  width: 90vw;
  max-width: var(--fixed-width);
  margin: 5rem auto;
}

.one-benefit {
  background: var(--clr-white);
  border-radius: var(--radius);
  margin: 2rem 0;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
  padding: 2rem;
}

.one-benefit:hover {
  box-shadow: var(--dark-shadow);
}

.one-benefit img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.benefit-info {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.link {
  text-decoration: none;
  padding: 20px;
  color: black;
  font-size: 30px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.subtitle {
  margin: 2rem 0;
  text-align: center;
}

.type-tytle {
  display: flex;
  margin: 0 auto;
}

.btn {
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  font-size: 1.2rem;
}

.delete-btn {
  display: block;
  width: 200px;
  margin: 2rem auto;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid var(--clr-red-dark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.btn-container {
  display: flex;
  justify-content: space-evenly;
  width: 700px;
  margin: 3rem auto;
}


.change {
  padding: 10px 30px;
  background: var(--clr-primary-5);
  border: none;
  color: var(--clr-white);
  font-size: 1.1rem;
  font-weight: 500;
}

.change:hover{
  background: var(--clr-white);
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.types {
  display: flex;
  justify-content: space-between;
  width: var(--max-width);
  margin: 0 auto;
  flex-wrap: wrap;
}

.coffee-card {
  width: 460px;
  margin-top: 3rem;
  padding: 20px;
  border-radius: var(--radius);
  box-shadow: var(--light-shadow);
}

.coffee-card:hover{
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.type-subtitle {
  margin: 1rem 0;
}

.type-text {
  line-height: 1.5rem;
  letter-spacing: var(--spacing)
}

.type-img{
  width: 420px;
  border-radius: var(--radius);
}

/* Contact form */

.contact-form{
  width: var(--maxWidth);
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

.contact-form label{
  display: block;
  margin: 1.5rem 0 0 0;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--clr-black);
}

.contact-form input {
  border-radius: var(--radius);
  padding: 0.5rem;
  font-size: 1.2rem;
  border: 1px solid var(--clr-grey-5);
  border-bottom: 2px solid var(--clr-grey-5);
  box-shadow: var(--dark-shadow);
}

.contact-form textarea {
  border-radius: var(--radius);
  padding: 0.5rem;
  height: 10rem;
  font-size: 1.2rem;
  border: 1px solid var(--clr-grey-5);
  border-bottom: 2px solid var(--clr-grey-5);
  box-shadow: var(--lightShadow);
}


.contact-img{
  border-radius:2rem;
  width: 300px;
  margin-left: 10rem;
  box-shadow: var(--lightShadow)
}


.contact-img:hover{
  transform: var(--transform);
  transition: var(--transition);
}

.contact-section{
  width: var(--max-width);
  margin: 0 auto;
  display: flex;
}

.contact-title{
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: left;

}

.contact-title:hover{
  transform: scale(1.1);
  transition: var(--mainTransition);
  cursor: pointer;
}

/* About */

/* .about-section {
  display:flex;
  width: var(--fullWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.about-title{
  font-size: 3rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: left;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
} */

/* Sections */

.serv-title {
  margin-top: 5rem;
}

.serv-section {
  padding: 0 10rem;
}

.element {
  position: relative;
  width: 400px;
  height: 300px;
  background-image: url("https://images.unsplash.com/photo-1495474472287-4d71bcdd2085?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 5rem;
}

.element::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #001d38;
  border-radius: 20px;
  opacity: .6;
}

/* .element:hover{
  transform: scale(1.1);
  transition: var(--mainTransition);
} */


.el-title{
  color: white;
  font-size: 3rem;
  position: absolute;
  top:50%;
  left: 10%;
}

.el-title:hover{
  transform: scale(1.1);
  transition: var(--mainTransition);
}

.el-section{
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  width: var(--fullWidth);
  max-width: var(--fullWidth);
}

/* Hero */

.hero {
  display: flex;
  padding-top: 13rem;
  padding-left: 10rem;
  background-image: url('./assets/01.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 90vh;
}

.hero::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 10vh;
  right: 0;
  top: 0;
  background: #001d38;
  opacity: .6;
}

.container {
  position: relative;
}
.container h1{
  color: white;
  font-size: 4rem;
  line-height: 1.3;
  margin: 100px 0 20px;
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.hero-link {
  display: flex;
  margin-top: 2rem;
}

.hero-link .explore {
  margin-right: 20px;
  padding: 12px 60px;
  background-color: var(--clr-primary-5);
  /* border: 1px solid var(--clr-primary-5); */
  /* border-radius: 2rem 0 2rem 0; */
  color: white;
  font-weight: 400;
  letter-spacing: 0.5px;
  transition: var(--transition);
}

.hero-link .explore:hover{
  color:#fdae5c;
  background: transparent;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 985px) {
  .hero{
    padding-left: 3rem;
  }
  .container h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 768px) {
  .hero{
    padding-left: 2rem;
  }
  .container h1 {
    font-size: 3rem;
  }
  .link .explore{
    padding: 10px 25px;
  }
}
  
@media screen and (max-width: 480px) {
  .hero{
    padding: 11rem 1rem 0 2rem;
    height: 80vh;
  }
  .hero::before{
    bottom: 20%;
  }
  .container h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 380px) {
  .hero{
    padding-top: 9rem;
  }
  .container h1 {
    font-size: 2.3rem;
  }
  .link .explore{
    padding: 10px 17px;
    margin-right: 10px;
  }
}


/* Navbar */

nav{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  font-size: 1.3rem;
  z-index: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 10rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: black;
}

nav .coffee-title {
  color: var(--clr-primary-5);
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.menu{
  display: flex;
}

.menu ul {
  display: flex;
}

.menu ul li {
  padding: 10px 25px;
  list-style-type: none;
}

.menu ul li a {
  color: var(--clr-primary-5);
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 0.5px;
}


.bar {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--clr-primary-5);
}

/* Media Query Responsive Navbar */

@media screen and (max-width: 985px) {
  nav{
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .bar{
    display: flex;
  }

  .menu {
    display: block;
    z-index: 9999!important; 
    position: absolute;
    left: 0;
    top:60px;
    background-color: black;
    transform: translateX(-300px); 
    transition: transform 1s ease-in-out visibility 1s;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 100%;
    visibility: hidden;
  }

  .mobile-menu{
    visibility: visible;
    transform: translateX(0px);
    transition: transform 1s ease-in-out, visibility 1s;
  }

  .menu ul {
    display: block;
  }

  .menu ul li {
    padding: 17px 3rem;
  }

}

@media screen and (max-width: 55px) {
  nav{
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

/* Counter */

.counter-title {
  padding-left: 10rem;
}

.counter {
  padding: 5rem;
  background: #C4DFE6;
}

.counter-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.counter-column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #003B46;
}
.counter-column:last-child {
  border-right: none;
}

.counter-column .number {
  font-weight: 600;
  font-size: 50px;
  color: #003B46;
}

.counter-column span{
  display: block;
  font-size: 18px;
  color:rgba(0, 0, 0, 0.7);
  line-height: 1.2;
  padding-left: 15px;
}

.counter-column .percentage {
  font-style: 3rem;
  font-weight: 400;
  color: #003B46;
}

@media screen and (max-width: 1024px) {
  .counter-row{
      grid-template-columns: 1fr 1fr;
  }
  .counter-column{
      padding: 2rem 0 2rem 0;
      border: none;
  }
}

@media screen and (max-width: 560px) {
  .counter{
      padding: 1rem 1rem 2rem 1rem;
  }
  .counter-row{
      grid-template-columns: 1fr;
  }
  .counter-column {
      padding: 2rem 0 2rem 0;
  }
}

/* Slider */

.slider-title {
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.slider {
  margin: 0 auto;
  width: 80%;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
}

.author {
  margin-top: 2rem;
  font-size: 1.2rem;
  font-style: italic;
}

.quote-icon {
  font-size: 3rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  color: var(--clr-primary-5);
}

